<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>

    h1  {
      color: #005EB8;
    }
    p, h3 {
      color: #444444;
    }
    strong  {
      color: #2e2e2e;
    }

  </style>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="400" style="border-collapse: collapse;">
  <thead>
  <th>
    <h1>Replication Results</h1>
    <h3><%=town%> Area</h3>
  </th>
  </thead>
  <tbody>
  <tr>
    <td align="left"  style="padding: 10px 10px 8px 5px; font-size:1.2rem;">
      <fieldset>
        <legend><strong>DETERMINATION</strong></legend>
        <p><%=reason%></p>
        <p><strong>Comments</strong></p>
        <p><%=comments%></p>
      </fieldset>
    </td>
  </tr>
  <tr>
    <td style="padding: 10px 10px 8px 5px;font-size:1.2rem;">
      <fieldset>
        <legend><strong>MEETING ATTENDEES</strong></legend>
        <p><strong>ATMOS Rep:</strong> <span><%=atmos_employee%></span></p>
        <p><strong>Team Leader:</strong> <span><%=team_leader%></span></p>
        <p><strong>Locate Technician:</strong> <span><%=locate_technician%></span></p>
      </fieldset>
    </td>
  </tr>
  <tr>
    <td style="padding: 10px 10px 8px 5px;font-size:1.2rem;">
      <fieldset>
        <legend><strong>DAMAGE INFORMATION</strong></legend>
        <p><strong>Damage Report #:</strong>  <%=heath_report%></p>
        <p><strong>Location:</strong> <%=location%></p>
        <%if (cross_street != null) {%>
        <p><strong>Cross: </strong><%=cross_street%></p>
        <%}%>
        <p><strong>Town:</strong> <%=town%></p>
        <p><strong>Facility:</strong> <%=facility%></p>
      </fieldset>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
