<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>

    h1 {
      color: #005EB8;
    }

    p, h3 {
      color: #444444;
    }

    strong {
      color: #2e2e2e;
    }

  </style>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="5" cellspacing="10" width="400" style="">
  <thead>
  <th>
    <h1>Replication Results</h1>

    <h3><%= town %> Area</h3>
  </th>
  </thead>
  <tbody>
  <tr>
    <td bgcolor="#F4F4F4" align="left" style="padding: 10px 10px 8px 5px; font-size:1.2rem;border:solid 1px #666666;">
      <h3>Response From: </h3> <span><%= team_leader %></span>
      <p> Re: replication results sent by <%= atmos_employee %> on <%= meeting_date %></p>

      <span>original response:</span>
      <p style="color:#999999;font-style: italic;">
        <%= reason %>
      </p>
      <p><strong>Comments: </strong> <%= heath_comments %></p>
      <p><strong>Video: </strong> <a href="<%= video_url %>"><%= video_url %></a></p>

    </td>
  </tr>
  <tr>
    <td bgcolor="#F4F4F4" style="padding: 10px 10px 8px 5px;font-size:1.2rem;border:solid 1px #666666;">

      <strong>DAMAGE INFORMATION</strong>
      <p><strong>Damage Report #:</strong> <%= heath_report %></p>
      <p><strong>Locate Technician:</strong> <span><%= locate_technician %></span></p>
      <p><strong>Location:</strong> <%= location %></p>
      <% if (cross_street) { %>
      <p><strong>Cross: </strong><%= cross_street %></p>
      <% } %>
      <p><strong>Town:</strong> <%= town %></p>
      <p><strong>Facility:</strong> <%= facility %></p>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
