<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>

    h1  {
      color: #005EB8;
    }
    p, h3 {
      color: #444444;
    }
    strong  {
      color: #2e2e2e;
    }

  </style>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="5" cellspacing="10" width="500">
  <thead>
  <th>
    <h1>Replication Results</h1>
    <h3><%=town%> Area</h3>
  </th>
  </thead>
  <tbody>
  <tr>
    <td bgcolor="white" align="left" style="padding: 10px 10px 8px 5px; font-size:1.4rem;border-top:solid 1px #666666;">

      <strong>DETERMINATION</strong>
      <p><%= reason %></p>
      <p><strong>Comments</strong></p>
      <p><%= comments %></p>

    </td>
  </tr>
  <tr>
    <td bgcolor="white" align="left" style="padding: 10px 10px 8px 5px; font-size:1.4rem;border-top:solid 1px #666666;">

      <strong>MEETING ATTENDEES</strong>
      <p><strong>ATMOS Rep:</strong> <span><%= atmos_employee %></span></p>
      <p><strong>Team Leader:</strong> <span><%= team_leader %></span></p>
      <p><strong>Locate Technician:</strong> <span><%= locate_technician %></span></p>

    </td>
  </tr>
  <tr>
    <td
      style="padding: 10px 10px 8px 5px;font-size:1.4rem;border-top:solid 1px #666666;border-bottom:solid 1px #666666;">

      <strong>DAMAGE INFORMATION</strong>
      <p><strong>Damage Report #:</strong> <%= heath_report %></p>
      <p><strong>Location:</strong> <%= location %></p>
      <% if (cross_street !== 'undefined') { %>
      <p><strong>Cross: </strong><%= cross_street %></p>
      <% } %>
      <p><strong>Town:</strong> <%= town %></p>
      <p><strong>Facility:</strong> <%= facility %></p>

    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
