<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>

    h1 {
      color: #005EB8;
    }

    p, h3 {
      color: #444444;
    }

    strong {
      color: #2e2e2e;
    }

  </style>

</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="5" cellspacing="10" width="500">
  <thead style="border-bottom: solid 6px #666666;">
  <th>
    <h1>Meeting Request</h1>
    <h3><%= town %> Area</h3>
  </th>
  </thead>
  <tbody>
  <tr>
    <td width="200" style="font-size:1.2em;text-align: center">
      <p style="">
        <a href="https://rpf.heathfieldapp.com" style="text-decoration: none;">SCHEDULE THIS MEETING</a>
      </p>
    </td>
  </tr>
  <tr>
    <td bgcolor="white" align="left" style="padding: 10px 10px 8px 5px; font-size:1.4rem;border-top:solid 1px #666666;">
      <p><strong>Team Leader:</strong> <%= team_leader %></p>
      <p><strong>Date & Time:</strong> <%= meeting_date %></p>
      <% if (location_name) { %>
      <p><strong>Location Name:</strong> <%= location_name %></p>
      <% } %>
      <p><strong>Location:</strong> <%= location %>
        <% if (cross_street) { %>
        near <%= cross_street %>
        <% } %>
        in <%= town %></p>
    </td>
  </tr>
  <tr>
    <td width="300"
        style="padding: 10px 10px 8px 5px;font-size:1.4rem;border-top:solid 1px #666666;border-bottom:solid 1px #666666;">

      <h3>DAMAGE INFORMATION</h3>
      <p><strong>Damage Report #:</strong> <%= heath_report %></p>
      <p><strong>Locate Technician:</strong> <span><%= locate_technician %></span></p>
      <p><strong>Facility:</strong> <%= facility %></p>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
