<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>

    h1 {
      color: #004284;
    }

    h4 {
      color: #005EB8;
    }
    p, h3 {
      color: #444444;
    }

    strong {
      color: #2e2e2e;
    }
  </style>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="5" cellspacing="10" width="500">
  <tbody>
  <tr>
    <td>
      <h1>Replication Results</h1>
      <h3><%= town %> Area</h3>
    </td>
  </tr>
  <tr>
    <td bgcolor="white" align="left" style="padding: 10px 10px 8px 5px; font-size:1.4rem;">
      <h4>RESPONSE FROM: </h4> <span><%= team_leader %></span>
      <p> Re: replication results sent by <%= atmos_employee %> on <%= replication_date %></p>

      <p><strong>Comments: </strong> <%= heath_comments %></p>
      <p><strong>Video: </strong> <a href="<%= video_url %>"><%= video_url || 'not provided' %></a></p>

      <span style="color:#999999;font-style: italic;">original response:</span>
      <h4>DETERMINATION</h4>
      <p><strong>Outcome: </strong> <span><%= reason %></span></p>
      <% if(able_to_locate != null){ %>
      <p><strong>Does this facility locate correctly? </strong> <span> <%= able_to_locate %></span></p>
      <p><strong>Line marked after replication? </strong> <span> <%= is_line_marked %></span></p>
      <% } %>
      <p><strong>Comments</strong></p>
      <p><%= comments %></p>
      <% if(corrective_actions != null){ %>
      <p><strong>Corrective Actions: </strong> <span> <%= corrective_actions %></span></p>

      <% } %>

    </td>
  </tr>
  <tr>
    <td style="padding: 10px 10px 8px 5px;font-size:1.4rem;">
      <h4>DAMAGE INFORMATION</h4>
      <p><strong>Leak #: </strong> <%= atmos_report %></p>
      <p><strong>Damage Report #:</strong> <%= heath_report %></p>
      <p><strong>Locate Technician:</strong> <span><%= locate_technician %></span></p>
      <p><strong>Location:</strong> <%= location %></p>
      <% if (cross_street) { %>
      <p><strong>Cross: </strong><%= cross_street %></p>
      <% } %>
      <p><strong>Town:</strong> <%= town %></p>
      <p><strong>Facility:</strong> <%= facility %></p>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
